@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

:root { --bg: 255 255 255; --muted: 107 114 128; }
.dark { --bg: 17 24 39; --muted: 148 163 184; }
body { background-color: rgb(var(--bg)); }
